* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #EFEFEF;
    margin: auto;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

ul {
    list-style-type: none;
}

ul li {
    width: 80%;
    list-style-type: none;
    display: inline-block;
    flex-direction: column;
    position: relative;
    transition: 0.1s;
    font-size: 20px;
    border: 2px solid #000;
    border-radius: 15px;
    border-color: #EFEFEF;
    padding: 12px;
    margin-bottom: 10px;
    margin-left: 6%;
    -webkit-appearance: none;
    -moz-appeareance: none;
    -ms-appearance: none;
    user-select: none;
    cursor: pointer;
}
 li:nth-child(even) {
    background-color: #CAEBF2;
 }

 li:nth-child(odd) {
    background-color: #FFFFD1;
 }

button {
    display: inline-block;
    margin: auto;
    padding: 5px;
    text-align: right;
    margin-left: 2%;
    margin-right: 2%;
}

input {
    border-radius: 8px;
    width: 50%;
    height: 35px;
}

.fa-plus-circle {
    color: #696969;
    background-color:	#FEFEFE;
}

.new-task {
    height: 80px;
    text-align: center;
}

.header {
    font-size: 50px;
    text-align: center;
    padding: 30px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #FFFFFF;
    background-color: #A9A9A9;
}

.content {
    padding-top: 40px;
    background-color: #EFEFEF;
}

.line-through {
    text-decoration: line-through;
    text-decoration-color: green;
    text-decoration-style: solid;
}

.fa-exclamation-triangle {
    color: #821BEE;
    background-color: #E5D6F6;
}

.fa-exclamation-circle {
    color: #2578FA;
    background-color: #B1CEFA;
}

.fa-check-circle {
    color: #2FA82B;
    background-color: #D6F3D5;
    position: absolute;
    right: 60px;
}

.fa-circle-thin {
    color: #2FA82B;
    background-color: #D6F3D5;
    position: absolute;
    right: 60px;
}

.fa-trash-o {
    color: #FF0000;
    background-color: #F8BBBB;
    position: absolute;
    right: 8px;
}
