header {
    color: #050a30;
    font-size: 40;
    text-align: center;
}

body {
    background-color: #FFFFFF;
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.button-task {
    display: inline-block;
    margin: auto;
    height: 1em;
    font: 1.1em "Century Gothic", "Century Gothic", "Apple Gothic", sans-serif;
}

.button-task:hover {
    box-shadow: 0.3em 0.3em 0.3em #777777;
}
