header {
    color: #050a30;
    font-size: 40;
    text-align: center;
}

body {
    background-color: #FFFFFF;
    margin: auto;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

ul > li {
    display: inline-block;
}

.container {
    padding: 30px;
}

.header {
    color: #8EE3F9;
    font-size: 40px;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.content {
    margin-left: 20px;
    margin-right: 20px;
}

.new-task {
    text-align: center;
}
